<h1>Insert the form to edit an instance of your model here.</h1>

<form method="post" action="/lists/<%= @list.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="lists">
<p><%= @list.name %>: <input type="text" id="name" name="list[name]" placeholder="Enter the Company's name"></p>
<p><%= @list.ticker_symbol %>: <input type="text" id="ticker_symbol" name="list[ticker_symbol]" placeholder="Edited ticker symbol" required></p>
<p><%= @list.current_price %>: <input type="number" min="0" step=".01" id="current_price" name="list[current_price]" placeholder="Edited price per share" required></p>
<input type="submit" value="Submit New List">

</form>