<h1> Join Stockey! </h1><br>

<form method="post" action="/users/signup">
 <label>Username:</label>
 <input type="text" name="username" placeholder="username">
 <label>Email Address:</label>
 <input type="email" name="email" placeholder="email address">
 <label>Password:</label>
 <input type="password" name="password" placeholder="password">
 <input type="submit" value="Sign Up!">
 </form>