<DOCTYPE! html>
<head>
  
</head>

<body>
  <h1>STOCKEY: Manage Your Stock Portfolio!</h1>
  <h4>To begin, please Log In or Sign Up below: </h4>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>

</body>

</html>

# ADD THESE ROUTES INTO APPLICATION CONTROLLER